<div class="container" style="
  width: 350px;
  height: 200px;
  margin-top: 24px;
  ">
  <div class="child" style="">
        <section id='search' class="search-wrap">
            <h1> Find A Coding Gig</h1>
            <form action="/gigs/search" class="form-inline">
                <input style="width:450px"type="search" name="term" placeholder="Seach by technology">
                <input style="    margin-top: 10px; "type="submit" value="Search">
            </form>
        </section>
    </div>
</div>